svg {
    background: linear-gradient(90deg, rgba(4, 1, 40, 0.788), rgba(32, 1, 125, 0.788));
    color: white;
    border-radius: 10px;
    margin-top: 5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 16, 24);
}

#tooltip {
    visibility: hidden;
    position: absolute;
    top: 22vh;
    color: white;
}

.dot:hover{
    fill: white;
}
#legend {
    position: absolute;
    top: 30%;
    right: 15%;
    color: white;
}